* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root {
    --text-color: #111111;
    --text-color-span: #4A4FF2;
    
    --regular: 400;
    --medium: 500;
    --demi-bold: 600;
    --bold: 800;
}

html,
body {
    height: 100%;
    width: 100%;
 }

.container {
    width: 77%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 5px;
    flex-wrap: wrap;
    
}







  

  

  

  

  
